:root {
	--bg-color: rgb(17, 17, 17);
	--main-font-color: rgb(235, 235, 235);
	--gradient-colors: linear-gradient(
		to right,
		rgb(255, 0, 85),
		rgb(0, 255, 213)
	);
  --accent-color: rgb(255, 0, 85);
  --secondary-color: rgb(36, 36, 36);
  --tertiary-accent-color: rgb(0, 255, 213)
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-container {
  display: flex;
}

.divider {
  width: 90%;
  height: 2px;
  background-color: var(--tertiary-accent-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

html {
  height: 100%;
}

body {
	background-color: var(--bg-color);
	color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  height: 100%;

  background-image: url(../images/star_bg.webp);
  background-size: 500px;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;   
  background: rgba(0,0,0,0.9);
  pointer-events: none;   
  z-index: -2;
}

main {
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

/* -----Sort buttons ------*/
.sort-btn-container {
  margin-top: 50px;
  margin-bottom: 0;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  height: 50px;
  background-color: var(--secondary-color);
  border: 3px solid var(--accent-color);
}

.sort-label {
  margin-bottom: 0;
}

.sort-btn {
  width: 100px;
  height: 30px;
  background-color: var(--bg-color);
  color: var(--main-font-color);
  border: 3px solid var(--accent-color);
}

.sort-btn:hover {
  background-color: var(--secondary-color);
}

.selected {
  border: 3px solid var(--tertiary-accent-color);
}

.main-container {
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.task-sort {
  flex-direction: column;
  margin: 0 100px;
  align-items: center;
}

/* -----Task list------ */


.task-list-container {
  max-width: 850px;
  width: 100%;
  margin: 20px 20px 70px 20px;
  background-color: var(--secondary-color);
  border: 3px solid var(--accent-color);
}

.task-explain-text {
  background-color: var(--secondary-color);
  padding: 10px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 70%;
  height: 200px;
  border: 3px solid var(--tertiary-accent-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-title {
  text-decoration: underline;
  text-align: center;
  margin-top: 15px;
}

.task-list-placeholder, .completed-list-placeholder {
  text-align: center;
  margin: 50px 0;
}

.accordion-item {
  border: 3px solid var(--accent-color);
  margin: 20px;
}

.accordion-body {
  color: var(--main-font-color);
  background-color: var(--bg-color);
  flex-direction: column;
  gap: 10px;
}

.task-element {
  background-color: var(--secondary-color);
  justify-content:space-between;
  align-items: center;
  padding: 10px;
}

.task-btns {
  justify-content: space-around;
  margin: 20px 0;
}

.task-btns button {
  width: 100px;
  height: 50px;
}

#complete-btn, #edit-btn, #delete-btn, #restore-btn {
  color: var(--main-font-color);
  border: 3px solid var(--accent-color);
}

#complete-btn:hover, #edit-btn:hover, #delete-btn:hover, #restore-btn:hover {
  border: 5px solid var(--tertiary-accent-color);
}

#complete-btn {
  background-color: rgb(0, 151, 101);
}
#complete-btn:hover {
  background-color: rgb(0, 214, 143);
}

#edit-btn {
  background-color: rgb(52, 0, 194);
}
#edit-btn:hover {
  background-color: rgb(88, 28, 255);
}

#delete-btn {
  background-color: rgb(158, 0, 40);
}
#delete-btn:hover {
  background-color: rgb(211, 0, 53);
}

#restore-btn {
  background-color: rgb(158, 0, 150);
}
#restore-btn:hover {
  background-color: rgb(204, 1, 194);
}

.accordion-button {
  background: var(--gradient-colors);
  color: var(--main-font-color)
}

.accordion-button:not(.collapsed) {
  background: linear-gradient(
		to left,
		rgb(104, 255, 185),
		rgb(0, 255, 213)
	);
  font-weight: bolder;
}

.open-btn-container {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

.open-create-dialog {
  width: 80px;
  height: 80px;
  background-color: var(--secondary-color);
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
  font-size: 2rem;
  padding: 0;
  z-index: 10;
}

.open-create-dialog:hover {
  border: 3px solid var(--tertiary-accent-color);
  color: var(--tertiary-accent-color);
}

/* ----- create task modal------*/
.modal-header {
  background: var(--gradient-colors);
  border: none;
}

.modal-title {
  color: var(--main-font-color);
}

.modal-body, .modal-footer {
  background-color: var(--secondary-color);
  border-top: 1px solid var(--tertiary-accent-color);
  color: var(--main-font-color);
}

.form-labels, .form-inputs {
  flex-direction: column;
  gap: 15px;
}

.form-element {
  flex-direction: row;
  justify-content: space-around;
}

.date-label {
  margin-top: 35px;
}

.edit {
  display: none;
}

footer {
  flex-shrink: 0;
  background: var(--gradient-colors);
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer p {
  height: fit-content;
  margin: 0;
}

/* -----Bootstrap overrides----- */
.navbar-brand {
	color: var(--main-font-color);
}

.nav-link {
	color: var(--main-font-color);
}

.navbar {
	background: var(--gradient-colors);
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }

  .divider {
    display: none;
  }

  .task-sort {
    justify-content: center;
    width: 40%;
  }
}

@media (max-width: 450px) {
  .task-sort {
    width: 90%;
  }
  .task-list-container {
    width: 100%;
  }

  .sort-btn-container {
    width: 100%;
  }

  .sort-label {
    display: none;
  }
}