:root {
	--bg-color: rgb(17, 17, 17);
	--main-font-color: rgb(235, 235, 235);
	--gradient-colors: linear-gradient(
		to right,
		rgb(255, 0, 85),
		rgb(0, 255, 213)
	);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: var(--bg-color);
	color: var(--main-font-color);
}

.navbar-brand {
	color: var(--main-font-color);
}

.nav-link {
	color: var(--main-font-color);
}

.navbar {
	background: var(--gradient-colors);
}
